<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Listing contacts
  </h1>
</div>


<!-- <div class="container">
<div class="card">
  <ng-container *ngFor="let contact of data.contacts">
    <div class="contact-details card-body">
    <h2>{{contact.name}}</h2>
    <h1>{{contact.location}}</h1>
    <h3>{{contact.role}}</h3>
    <h4>{{contact.company}}</h4>
    <p>{{contact.info}}</p>
    <h4>{{contact.email}}</h4>
    <h4>{{contact.twitter}}</h4>
  </div>
  </ng-container>
</div>
</div> -->

<div class="container">
<table class="table">
  <thead>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Role</th>
      <th scope="col">Company</th>
      <th scope="col">Info</th>
      <th scope="col">Email</th>
      <th scope="col">Twitter</th>
  </thead>
  <tbody>
  <ng-container *ngFor="let contact of data.contacts">
    <tr>
      <th scope="row">{{contact.name}}</th>
      <th>{{contact.location}}</th>
      <th>{{contact.role}}</th>
      <th>{{contact.company}}</th>
      <th>{{contact.info}}</th>
      <th>{{contact.email}}</th>
      <th>{{contact.twitter}}</th>
    </tr>
  </ng-container>
  </tbody>
</table>
</div>